{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<main class="container my-5">
		<h1 class="mb-5 text-center">{{ app.user.firstname }}
			{{ app.user.lastname }}</h1>

		<div class="row row-cols-1 row-cols-md-4 g-4">
            {# Loop projects #}
            {% for project in projects %}
			    {# Card #}
                <div class="col">
                    <div class="card text-white bg-primary">
                        <a href="#" class="btn btn-primary">
                            <div class="card-body d-flex justify-content-center align-items-center">
                                <h3 class="fs-5 card-title">{{ project.title }}</h3>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}

			{# Add card #}
            <div class="col"> 
                <div class="card border-primary">
                    <a href="{{ path('app_home_add') }}" class="btn btn-outline-primary">
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <h3 class="fs-5 card-title">Ajouter un projet</h3>
                        </div>
                    </a>
                </div>
            </div>
		</div>
	</main>

{% endblock %}
